body {
    background-color: bisque;
}

#panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 400px;
    height: 500px;
}

#wynik {
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    font-size: 40px;
}